<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Hello</title>
</head>

<head>
    <link rel="stylesheet" href='static/css/style.css'>
</head>


<body>
    <h1>Hello, welcome to my Django app!</h1>


    <form method = "post" action ="api/update">

        {% csrf_token %}
        <label for="email"> your email : </label>
        <input id="email" type="text" name="email"></input>
        
        <label for="password"> your password : </label>
        <input id="password" type="password" name="password"></input>

        <label for="password_second"> your new_password : </label>
        <input id="password_second" type="password" name="password_second"></input>
    
        <input type="submit" value="submit"/>
    </form>

    

</body>
</html>