<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Hello</title>
</head>

<head>
    <link rel="stylesheet" href='static/css/style.css'>
</head>


<body>
    <h1>Hello, welcome to my Django app!</h1>


    <form method = "post" action ="api/register">
        {% csrf_token %}
        <label for="email"> your email : </label>
        <input id="email" type="text" name="email"></input>
        
        <label for="name"> your name : </label>
        <input id="name" type="text" name="name"></input>

        <label for="password"> your password : </label>
        <input id="password" type="password" name="password"></input>

        <label for="password_second"> your password_second : </label>
        <input id="password_second" type="password" name="password_second"></input>
    
        <input type="submit" value="submit"/>
    </form>



    <a href="{% url 'loginpage' %}">
        <button>Login</button>
    </a>
      

    <form method="post" action="api/delete">
        <input type="submit" value="Delete user">
    </form>
    

</body>
</html>